<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    
  {{>navbar}}

<div class="container-fluid mt-5 pt-5 about-style" > 
   <div class="row">
     <div class="col-md-10 col-12 mx-auto">
       <h1 class="text-center main-heading">About Us</h1>
       <hr class="w-25 mx-auto" />
       <p class="text-center sub-heading">Musical Instrument Workshop</p>
       <div class="row">
         <div class="col-md-6 col-12">
           <figure>
             <img src="images/3.png" width="350" height="400"  alt="guitar_img">
           </figure>
         </div>


         

         {{!Right Side--}}
         <div class="col-md-6 col-12  hero-text d-flex justify-content-center align-items-center flex-column">
            <h1>Our Journey</h1>
            <p>
              This Restoration is owned by Sumeet Suwal, himself. Suwal officially launched Sumeet Guitar Restoration in 2015 and
               started devoting all his time to servicing, 
              repairing, and restoring guitars , bass,  gadgets , etc. 
              He opened the workshop in his house in Dallu. Sumeet imports guitar parts and 
              accessories such as pick ups , fretboards, keys and guitar necks from Thailand and Singapore. 
              Sumeet use his skillfull hands for reparing guitars and Now some of the famous names of Nepali music
               industry visit his workshop, which is so busy at times that he has also hired an assistant to help him.
            </p>
         </div>
         </div>
       </div>

     </div>

   </div>
{{>maps}}
{{>offer}}
{{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>

   </body>

   </html>
   
 